.container-layout {
  margin-top: 20px;
}

.title {
  font-size: 2rem;
  margin-right: 10px;
}

.secondary-information {
  color: grey;
}

.plot-text {
  display: inline;
  hyphens: auto;
}

.toggle-button {
  display: inline;
  padding: 0;
  margin-left: 5px;
  color: black;
}

.img-media-information {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .crew-information {
    flex-direction: column;
  }

  .lines {
    display: none;
  }

  .image-container {
    margin-bottom: 3rem;
  }
}
