.rating-headline {
  margin-top: 1.5rem;
}
.rating-margin {
  margin-top: 1rem;
}

.rating-container {
  width: 100%;
  display: flex;
  gap: 3rem;
}

.rating {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

@media only screen and (max-width: 515px) {
  .rating-container {
    flex-direction: column;
    gap: 0;
  }
}
