.mediaCard-clickable {
  cursor: pointer;
}

.mediaCard.card {
  border: none;
  width: 100%;
}

.mediaCard-img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 2 / 3;
}
git st
.mediaCard-body.card-body {
  padding-left: 0;
}

.mediaCard-title-custom {
  max-width: 100%; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: normal; 
  display: -webkit-box; 
  line-clamp: 3; 
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical; 
}