.personCard-clickable {
  cursor: pointer;
}

.personCard.card {
  border: none;
  width: 100%;
}

.personCard-img {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 8px;
}

.personCard-body {
  padding-left: 0;
  text-align: center;
}

.personCard-role {
  color: #555;
  font-size: 0.9rem;
  margin-top: 5px;
  text-transform: capitalize;
}

.personCard-info {
  margin-top: 10px;
  font-size: 0.85rem;
  color: #777;
}
