.container-layout {
  margin-left: -12px;
  margin-right: 0;
  padding-right: 0;
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
  opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: rgba(0, 0, 0, 1);
}

.responsive-img {
  height: 68px;
}

@media (max-width: 768px) {
  .responsive-img {
    height: 50px;
  }

  .table-responsive {
    overflow-x: auto;
  }

  .table th,
  .table td {
    white-space: nowrap;
  }
}

.action-col {
  width: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.default-image-container {
  max-width: 50px;
  width: 100%;
  height: auto;
}

.default-image-container svg text {
  font-size: 0.5rem;
}
